{
  "version": 1,
  "minor_version": 2,
  "key": "core.config",
  "data": {
    "latitude": 51.0075,
    "longitude": -3.1015,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/London",
    "external_url": null,
    "internal_url": null,
    "currency": "GBP"
  }
}